<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>SFG Tutorial</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.css" th:href="@{/bootstrap/dist/css/bootstrap.min.css}" />
    <script src="https://cdn.jsdelivr.net/g/bootstrap@3.3.6,jquery@3.0.0-rc1(jquery.js)" th:src="@{/jquery/dist/jquery.js}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>This is a heading</h1>
        </div>
    </div>
    <p>This is a paragraph</p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Test</h1>
        </div>
    </div>
</div>
</body>
</html>